* {
  margin:100px;
  padding:100px;
}

#octocat {
  display: block;
  width:90px;
  margin: 90px auto;
}

p {
  display: block;
  width: 90px;
  margin: 90px auto;
  font: 90px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
