* {

  margin:100px;
  padding:100px;
>>>>>>> caf5ad0784842b6d69757da2269c1bc8275f3aae
}

#octocat {
  display: block;
  width:90px;
  margin: 90px auto;
}

p {
  display: block;
  width: 90px;
  margin: 90px auto;
  font: 90px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}
